<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oriole.ocean.dao.NoteDao">

    <resultMap id="note" type="com.oriole.ocean.common.po.mysql.NoteEntity">
        <id property="id" column="note_id" jdbcType="VARCHAR"/>
        <result property="buildUsername" column="build_username" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="tag" column="tag" jdbcType="VARCHAR"/>
        <result property="buildDate" column="build_date" jdbcType="TIMESTAMP"/>
        <result property="refreshDate" column="refresh_date" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="isAnon" column="is_anon" jdbcType="TINYINT"/>
        <result property="isAllowComment" column="is_allow_comment" jdbcType="TINYINT"/>
        <result property="likeNum" column="like_num" jdbcType="INTEGER"/>
        <result property="commentNum" column="comment_num" jdbcType="INTEGER"/>
        <result property="readNum" column="read_num" jdbcType="INTEGER"/>
        <association property="noteEntity" javaType="com.oriole.ocean.common.po.mysql.NoteEntity" select="getNoteEntityByNoteID"
                     column="{NoteID=note_id}">
        </association>
    </resultMap>

    <select id="getNoteEntityByNoteID" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT * FROM note WHERE note.note_id = #{noteID};
    </select>

    <select id="getLatestNotes" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT note_id as id, build_username, content, tag, build_date, refresh_date, is_deleted, is_anon, is_allow_comment, like_num, comment_num, read_num
        FROM note WHERE note.is_deleted = 0 ORDER BY note.refresh_date DESC
    </select>

    <select id="getLatestNotesWithLikeStatus" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT 
            n.note_id as id, 
            n.build_username, 
            n.content, 
            n.tag, 
            n.build_date, 
            n.refresh_date, 
            n.is_deleted, 
            n.is_anon, 
            n.is_allow_comment, 
            n.like_num, 
            n.comment_num, 
            n.read_num,
            CASE WHEN nl.username IS NOT NULL THEN 1 ELSE 0 END as isLikedByCurrentUser
        FROM note n
        LEFT JOIN note_like nl ON n.note_id = nl.note_id AND nl.username = #{username}
        WHERE n.is_deleted = 0 
        ORDER BY n.refresh_date DESC
    </select>

    <select id="getNotesByKeywords" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT note_id as id, build_username, content, tag, build_date, refresh_date, is_deleted, is_anon, is_allow_comment, like_num, comment_num, read_num
        FROM note
        WHERE
        is_deleted = 0
        HAVING
        MATCH(content) AGAINST(#{searchString} IN NATURAL LANGUAGE MODE) > 0
        ORDER BY
        MATCH(content) AGAINST(#{searchString} IN NATURAL LANGUAGE MODE) DESC,
        refresh_date DESC
    </select>

    <select id="getNotesByKeywordsWithLikeStatus" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT 
            n.note_id as id, 
            n.build_username, 
            n.content, 
            n.tag, 
            n.build_date, 
            n.refresh_date, 
            n.is_deleted, 
            n.is_anon, 
            n.is_allow_comment, 
            n.like_num, 
            n.comment_num, 
            n.read_num,
            CASE WHEN nl.username IS NOT NULL THEN 1 ELSE 0 END as isLikedByCurrentUser
        FROM note n
        LEFT JOIN note_like nl ON n.note_id = nl.note_id AND nl.username = #{username}
        WHERE n.is_deleted = 0
        HAVING MATCH(n.content) AGAINST(#{searchString} IN NATURAL LANGUAGE MODE) > 0
        ORDER BY
        MATCH(n.content) AGAINST(#{searchString} IN NATURAL LANGUAGE MODE) DESC,
        n.refresh_date DESC
    </select>

    <select id="getNotesByTag" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT note_id as id, build_username, content, tag, build_date, refresh_date, is_deleted, is_anon, is_allow_comment, like_num, comment_num, read_num 
        FROM note WHERE note.is_deleted = 0 AND note.tag = #{tag} ORDER BY note.refresh_date ASC;
    </select>

    <select id="getNotesByTagWithLikeStatus" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT 
            n.note_id as id, 
            n.build_username, 
            n.content, 
            n.tag, 
            n.build_date, 
            n.refresh_date, 
            n.is_deleted, 
            n.is_anon, 
            n.is_allow_comment, 
            n.like_num, 
            n.comment_num, 
            n.read_num,
            CASE WHEN nl.username IS NOT NULL THEN 1 ELSE 0 END as isLikedByCurrentUser
        FROM note n
        LEFT JOIN note_like nl ON n.note_id = nl.note_id AND nl.username = #{username}
        WHERE n.is_deleted = 0 AND n.tag = #{tag}
        ORDER BY n.refresh_date ASC
    </select>

    <select id="getNoteById" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT
            note_id AS id,
            build_username,
            content,
            tag,
            build_date,
            refresh_date,
            is_deleted,
            is_anon,
            is_allow_comment,
            like_num,
            comment_num,
            read_num
        FROM note
        WHERE note_id = #{noteId}
          AND is_deleted = 0;
    </select>

    <select id="getNoteByIdWithLikeStatus" resultType="com.oriole.ocean.common.po.mysql.NoteEntity">
        SELECT
            n.note_id AS id,
            n.build_username,
            n.content,
            n.tag,
            n.build_date,
            n.refresh_date,
            n.is_deleted,
            n.is_anon,
            n.is_allow_comment,
            n.like_num,
            n.comment_num,
            n.read_num,
            CASE WHEN nl.username IS NOT NULL THEN 1 ELSE 0 END as isLikedByCurrentUser
        FROM note n
        LEFT JOIN note_like nl ON n.note_id = nl.note_id AND nl.username = #{username}
        WHERE n.note_id = #{noteId} AND n.is_deleted = 0
    </select>

    <update id="deleteNote">
        UPDATE note
        SET is_deleted = 1
        WHERE note.note_id = #{noteID};
    </update>

</mapper>